
*{
    box-sizing: border-box;  
}
/* Responsive */
/*Phones*/
[class*="col-"]{
    float: left;

}
/*
@media only screen and (max-width: 768px){
    body{
        background-image: url('./mbg.jpg');
    }
    .menu{
        width: 100%;
    }
    .logo{
        display: none;
    }
    .menu{
        width: 100%;
        display: none;
    }
    [class*="col-"]{
        width:100%;
    }
}
*/
/*DeskTop*/

    body{
        /*background-image: url('./bg.jpg');*/
        background-image: url(bg.jpg);
        background-color:rgb(0, 7, 80);
        background-repeat:repeat-y;
        background-size: 100%;
        color: white;
        text-align: center;
        margin: 0px;
        font-family: Roboto;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
/* Default*/
    a:hover{
        color: white;
    }
    a:link{
        color: white;
        text-decoration: none;
        text-decoration-color: white;
    }
    a:visited{
        color: white;
        float: left;
    }
    ul{
    }
    li{
        padding-bottom: 20px;
        list-style: none;
    }
    .navbar{
        height: 50px;
    }
    .menu{
        display: none;
    
    }
    .menu a{
        float: left;
        padding-right: 107px;
    }
    .logo{
    }
    .contenido{
    
    }
    header div{
        width: 100%;
        height: 100%;
    }
    .title{
    font-style: 
    }
    .title h1{
        font-weight: 200;
        font-size: 50px;
    }
    .socialMediaDrop{
        display: none;
    }
    .socialMediaDrop a{
        float: left;
        padding-right: 30px;
    }
    p{
        background-color: rgba(0,0,0,0.8);
    }